.container {
  display: inline-flex;
  gap: 20px;
  padding: 10px;
  overflow-x: scroll;
  min-height: 80px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.you {
  color: white;
  text-shadow: var(--text-shadow);
}

.playerName {
  font-size: 1.3rem;
}

.guesser {
  color: var(--accent-color);
}

.dealer {
  color: var(--accent-color2);
}
